.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-image: url("http://r-scale-05.dcs.redcdn.pl/scale/o2/tvn/web-content/m/p1/i/e94f63f579e05cb49c05c2d050ead9c0/cea9e7c2-76fd-11e4-9888-0025b511229e.jpg?type=1&srcmode=3&srcx=1%2F2&srcy=1%2F2&srcw=1260&srch=708.75&dstw=1260&dsth=708.75&quality=75");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
li.list-group-item:hover {
  color:blue;
}


.movieSpace {
  padding: 10px;
  margin-bottom: 20px;
}

.fontH1 {
  color: #ffffff;
  font-weight: bold;
}

.headerFont {
  color: #cc0000;
  font-weight: bold;
}

.headerPadding {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 20px;
}

.addMargin {
  margin-top: 10px;
  margin-bottom: 20px;
}

.marginActionBtns {
  margin-top: 3px;
}

.paddingTopBottom {
  padding-top: 5px;
  padding-bottom: 2px;
}

.boxShadow {
  box-shadow: 10px 10px 5px #262626;
  background-color: #f5f5f0;
  border-radius: 5px;
}

.iframeShadow {
  box-shadow: 5px 5px 2px #888888;
  background-color: #f5f5f0;
  border-radius: 5px;
}
.addFav {
  background:url(/images/icons/fav.PNG) no-repeat;
  cursor:pointer;
  width: 30px;
  height: 30px;
  border: none;
}
.faved {
  background:url(/images/icons/faved.PNG) no-repeat;
  cursor:pointer;
  width: 30px;
  height: 30px;
  border: none;
}
.openInNewWindow {
  background:url(/images/icons/newWindow.PNG) no-repeat;
  cursor:pointer;
  width: 30px;
  height: 30px;
  border: none;
  padding: 3px;
}

.deleteIcon {
  background:url(/images/icons/delete.PNG) no-repeat;
  cursor:pointer;
  width: 30px;
  height: 30px;
  border: none;
}

.removeFav {
  background:url(/images/icons/unfav.PNG) no-repeat;
  cursor:pointer;
  width: 30px;
  height: 30px;
  border: none;
}
.qwe {
  background: orange;
}

.ass {
  background: green;
}

.toBottom {
  position: absolute;
  bottom: 0;
}

button:hover {
  font-weight: bold
 }

div.grid{
  list-style: none;
  width: 260px;
  margin: 10 auto;
  text-align: left;
  padding: 3px;
  float:left;
}



/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up 768px 730px || 1200px 970px*/
@media screen and (min-width: 1200px) {
  .container {
    max-width: 970px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
