<div class="row addMarginBottom">
  <div class="col-md-offset-5 col-md-4 col-xs-offset-4 col-xs-8">
    <button class="btn btn-default btn-sm glyphicon glyphicon-arrow-left" ng-disabled="ctrl.bindPage == 0" ng-click="ctrl.bindPage = ctrl.bindPage-1"></button>
    {{ctrl.bindPage+1}} / {{ctrl.bindPageNumbers()}}
    <button class="btn btn-default btn-sm glyphicon glyphicon-arrow-right" ng-disabled="ctrl.bindPage >= ctrl.bindMovieList/ctrl.bindSize - 1" ng-click="ctrl.bindPage = ctrl.bindPage + 1"></button>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-xs-12 paddingTopBottom">
    <div>Display:
      <button class="btn btn-default btn-xs" ng-click="ctrl.bindSetSize(1)">1</button>
      <button class="btn btn-default btn-xs" ng-click="ctrl.bindSetSize(5)">5</button>
      <button class="btn btn-default btn-xs" ng-click="ctrl.bindSetSize(25)">25</button>
      <button class="btn btn-default btn-xs" ng-click="ctrl.bindSetSize(50)">50</button>
    </div>
  </div>
</div>
